<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/libs/css/bootstrap.min.css" />
		<link href="libs/css/full-width-pics.css" rel="stylesheet">
		<script src="/libs/js/jquery-1.11.3.min.js"></script>
		<script src="/libs/js/bootstrap.js"></script>
		<title>Hola/Hello/Kaixo</title>
	</head>
	<body
	
	<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">GAE+Python</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/saludaEUS">Kaixo</a>
                    </li>
                    <li>
                        <a href="/saludaES">Hola</a>
                    </li>
                    <li>
                        <a href="/saludaEN">Hello</a>
                    </li>
					<li>
                        <a href="/loginForm">Registro</a>
                    </li>
					<li>
                        <a href="/DBContent">DBContent</a>
                    </li>
					<li>
                        <a href="/Maps">Maps</a>
                    </li>
					<li>
                        <a href="/fotos">Fotos</a>
                    </li>
					<li>
                        <a href="/login">Login</a>
                    </li>
					<li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	<section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">GAE+Python</h1>
                    <p class="lead section-lead">Desarrollo de Software Seguro en la Web</p>
                    <p class="section-paragraph">Proyecto incremental de la asignatura DSSW. Se utiliza Google App Engine + Python</p>
					<p class="section-paragraph">Te has logueado correctamente</p>
                </div>
            </div>
        </div>
    </section>
	</body>
</html>