<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/libs/css/bootstrap.min.css" />
		<script src="/libs/js/jquery-1.11.3.min.js"></script>
		<script src="/libs/js/bootstrap.js"></script>
		<title>Hola/Hello/Kaixo</title>
	</head>
	<body
	
	<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">GAE+Python</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/saludaEUS">Kaixo</a>
                    </li>
                    <li>
                        <a href="/saludaES">Hola</a>
                    </li>
                    <li>
                        <a href="/saludaEN">Hello</a>
                    </li>
					<li>
                        <a href="/loginForm">Registro</a>
                    </li>
					<li>
                        <a href="/DBContent">DBContent</a>
                    </li>
					<li>
                        <a href="/Maps">Maps</a>
                    </li>
					<li>
                        <a href="/fotos">Fotos</a>
                    </li>
					<li>
                        <a href="/login">Login</a>
                    </li>
					<li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	<div class="jumbotron">
		<div class="container">
			<h1>Indica tu email para recuperar la contrasena</h1>
			<h3>Se enviara un email a la direccion con los pasos a seguir</h3>
		</div>
	</div>
		<div class="container">
		<form autocomplete="off" class="form-horizontal" method="post" action="/forgotpassword">
				<div class="form-group">
					<label for="email" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input placeholder="foo@bar.com" id="email" required type="email" name="email"/> <br/>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<input id="btn_submit" type="submit" name="submit" class="btn btn-default" value="Enviar"/>
					</div>
				</div>
		</form>
		</div>
	</body>
</html>