<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/libs/css/bootstrap.min.css" />
		<title>Hola/Hello/Kaixo</title>
	</head>
	<body
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<ul class="nav navbar-nav">
					<li><a style="font-size:200%;" href="/saludaES">Hola!</a></li>
					<li><a style="font-size:200%;" href="/saludaEN">Hello!</a></li>
					<li><a style="font-size:200%;" href="/saludaEUS">Kaixo!</a></li>
					<li><a style="font-size:200%;" href="/loginForm">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="jumbotron">
		<div class="container">
			<h1>Google App Engine + Python</h1>
			<h2>DSSW</h2>
		</div>
	</div>
	<div class="container">
		<img src="libs/img/app-engine-logo.png" alt="GAE logo" class="img-circle">
	</div>
	</body>
</html>